# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Create a Markdown cell with table of Data Science
- introducing arithmetic expression examples

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Julia
6. Scala

### Some of the commonly used libraries used by Data Scientists include:
1. Scientific Computing Libraries : Pandas,Numpy
2. Visualisation Libraries : Matplotlib, Seaborn, ggplot
3. Machine-Learning and Deep-Learning Libraries : Scikit-learn, Keras
4. Deep-learning libraries : Tensorflow, Pytorch

|Data Science Tools|
|----|
|Jupyter|
|R Studio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5      #This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200/60      #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Mahmud Masum